@import "tailwindcss";





/* DaisyUI Light Theme */
@plugin "daisyui" {
  themes: light --default, dark;
}

/* Custom Light Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #E6B400;
  --color-secondary: #FFD24A;
}

/* Custom Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #E6B400;
  --color-secondary: #FFD24A;

  /* surface colors */
  --color-base-100: #1a1a1a;
  --color-base-200: #2a2a2a;
  --color-base-300: #3a3a3a;

  /* text colors */
  --color-neutral: #ffffff;
}






/* Custom button override */
.btn-primary {
  @apply bg-gradient-to-r from-[#E6B400] via-[#FFD24A] to-[#a47d08a5] border-none text-[#0A1A44] font-semibold;
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem;
  box-shadow: 0 6px 18px rgba(230, 180, 0, 0.18);
}
.btn-primary:hover {
  @apply brightness-95;
  transform: translateY(-1px);
  transition: transform 150ms ease, filter 150ms ease;
}
.active {
  border-bottom: 2px solid currentColor;
  padding-bottom: 4px;
  color: #e6b400;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}
